<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/js/newfeed.js">
    
	<title>New Feed</title>
</head>
<body>
    <div id="displayPage">
        <div class="menubar">
            <ul id="c">
                <a href="newfeed.html"><li>Home</li></a>
                <a href=""><li>Profile</li></a>
                <a href=""><li>About</li></a>
                <a href=""><li>Logout</li></a>
                <li>
                    More
                    <i class="fa fa-angle-down"></i>
                    <ul>
                        <a href=""><li>Donate</li></a>
                        <a href=""><li>Vote</li></a>
                        <a href=""><li>Contact</li></a>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="inner">
            <ul class="box" id="adding-pic">
                <!-- <li><img src="https://farm4.static.flickr.com/3022/2315482595_124fbdc487_m.jpg" /></li> -->
            </ul>
        </div>
    </div>

    <script src="../vendor/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/newfeed.js"></script>
</body>
</html>